#triangle{
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-top: 50px solid red;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
#oval{
  width: 200px;
  height: 100px;
  background: dodgerblue;
  border-radius: 100%;
}
#square{
  width: 300px;
  height: 350px;
  background: dodgerblue;
  border-radius: 10%;
  padding: 20PX;
}
#h1{
  color: white;
}
p{
  color: white;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even){background-color: #E5F3FF}
tr:hover {background-color: #F0F4FF}


th {
  background-color: dodgerblue;
  color: white;
}
